@font-face {
    font-family: "Geomanist-Medium";
    src: url('/assets/css/fonts/hinted-Geomanist-Medium.eot'); /* IE9 Compat Modes */
    src: url("/assets/css/fonts/hinted-Geomanist-Medium.ttf") format('truetype'),
         url('/assets/css/fonts/hinted-Geomanist-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/css/fonts/hinted-Geomanist-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/css/fonts/hinted-Geomanist-Medium.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: "Geomanist-Bold";
    src: url('/assets/css/fonts/hinted-Geomanist-Bold.eot'); /* IE9 Compat Modes */
    src: url("/assets/css/fonts/hinted-Geomanist-Bold.ttf") format('truetype'),
         url('/assets/css/fonts/hinted-Geomanist-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/css/fonts/hinted-Geomanist-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/css/fonts/hinted-Geomanist-Bold.svg') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: "Geomanist-Light";
    src: url('/assets/css/fonts/hinted-Geomanist-Light.eot'); /* IE9 Compat Modes */
    src: url("/assets/css/fonts/hinted-Geomanist-Light.ttf") format('truetype'),
         url('/assets/css/fonts/hinted-Geomanist-Light.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/css/fonts/hinted-Geomanist-Light.woff') format('woff'), /* Pretty Modern Browsers */
         url('/assets/css/fonts/hinted-Geomanist-Light.svg') format('svg'); /* Legacy iOS */
}
