html,body{
  overflow-x: hidden;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Geomanist-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #555;
    background: #f3f3f3;
    font-size: 16px;
    line-height: 30px;
    overflow-x:hidden;
    overflow-y:hidden;
}

h2{
  font-size: 37px;
}

.underline{
  &:after {
      content: "";
      display: block;
      margin-top: 20px;
      width: 45px;
      height: 3px;
      background-color: #411b8a;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
  &.underline-secondary{
    &:after{
      background-color: #01ffed; 
      @media (min-width: 960px){
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
  &.underline-primary:after {
     background-color: #8d33aa;
  }
  &.underline--center{
    &:after{
      display: block;
      margin-left: auto;
      margin-right: auto; 
    }
  }
}

.introduction{
  margin-top: 35px;
  padding-bottom: 300px;
  @media only screen and (max-width: 960px){
    padding-bottom: 30%;
  }
  .introduction__row{
    display: block;
    max-width: 66.66%;
    margin: 40px auto 0;
    @media only screen and (max-width: 960px) {
    }
    .introduction__text{
      text-align: center;
      .introduction__title{
         font-size: 37px;
      }
      .introduction__description{
        
      }
    }
  }
}

.whatis{
  background-color: #411b8a;
  padding-bottom: 80px;
  .whatis__title{
    color: #fff;
    text-align: center;
  }
  .whatis__img-container{
    max-width: 50%;
    margin: 0 auto;
    @media only screen and (max-width: 960px) {
      max-width: 75%;
    }
    .whatis__img{
      max-width: 100%; 
      position: relative;
      margin-top: -320px;
      display: block;
      margin: -420px auto 0;
      margin-bottom: 50px;
      width: 75%;
      @media only screen and (max-width: 960px) {
        margin: -300px auto 0;
      }
    }
  }
  .whatis__row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media only screen and (max-width: 960px) {
      grid-template-columns: 1fr;
    }
    .whatis__text{
      padding-right: 10px;
      padding-left: 10px;
      margin-left: 10%;
      @media only screen and (max-width: 960px) {
        margin-left: 0;
      }
      p{
        color: #fff;
        @media only screen and (max-width: 960px) {
          text-align: center;
        }
      }
    }
  }
}

.howdoesitwork{
  padding: 50px 0;
  .howdoesitwork__title{
    text-align: center;
    padding: 0 0 50px 0;
    margin: 0;
  }
}

.features{
  background: #411b8a;
  position: relative;
  overflow: hidden;
      background-image: url(https://planar.network/assets/img/line-left.png);
    background-position: -5px 55%;
    background-repeat: no-repeat;
    background-size: 450px 826px;
  @media (max-width: 992px){
    background-image: none;
  }
  .container{
    margin-top: -210px;
    @media (min-width: 992px){
      margin-top: 0;
    }
  }
  
 .feature__img {
    width: 70%;
    position: relative;
    left: 34%;
    @media (min-width: 992px) {
        position:absolute;
        z-index: 5;
        left: auto
} 
    &.feature__img__1 {
    top: -212px;
      @media (min-width: 992px) {
        width:582px;
        height: 750px;
        right: -20px;
        top: -0.5%
}

@media (min-width: 1200px) {
        width:645px;
        height: 830px;
        right: 0
}
}
    &.features-img-2 {
    bottom: -60px;
    margin-top: -60px;
      
      @media (min-width: 992px) {
        width:550px;
        height: 698px;
        right: -20px;
        bottom: -20px
}

@media (min-width: 1200px) {
        width:610px;
        height: 774px;
        right: 0;
        bottom: -100px
}
}

  }
  .features__row{
     display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    align-items: center;
    &:nth-child(even) {
      justify-content: flex-end;
    }

    .features__row__col{
      padding: 100px 0 200px;
      width: calc(50% - 20px);
      @media only screen and (max-width: 960px) {
        width: 100%;
        text-align:center;
      }
      @media only screen and (max-width: 992px) {
        padding: 0;
      }
      h2{
        color: #fff;
      }
      p{
        color: #fff;
      }
    }
  }
}


.features-img-2 {
    bottom: -60px;
    margin-top: -60px;
      
      @media (min-width: 992px) {
        width:550px;
        height: 698px;
        right: -20px;
        bottom: -20px
}

@media (min-width: 1200px) {
        width:610px;
        height: 774px;
        right: 0;
        bottom: -100px
}
}
