.hero{
    background: #411b8a url(../img/grid.png) no-repeat right top;
    position: relative;
    padding-top: 115px;
    @media only screen and (max-width: 960px) {
      padding-top: 50px;
    }
    .hero--grid-row{
      display: grid;
      grid-template-columns: 33.33%;
      @media only screen and (max-width: 960px) {
        grid-template-columns: auto;
      }
      .hero--text{
        @media only screen and (max-width: 960px) {
          text-align: center;
        }
        .hero--text__title{
              font-family: "Geomanist-Bold","Helvetica Neue",Helvetica,Arial,sans-serif;
              font-size: 40px;
              color: #fff;
        }
        .hero--text__description{
              font-family: "Geomanist-Light","Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 16px;
            color: #fff;
        }
      }
    }
  img {
    width: 994px;
    height: 726px;
    top: 5%;
    position: absolute;
    left: auto;
    left: 51%;
//     top: 13%;
    z-index: 5;
    padding: 0;
    margin: 0;
    @media only screen and (max-width: 960px) {
      width: 100%;
      height: auto;
      margin-bottom: -200px;
      padding-top: 80px;
      position: relative;
      left: 12%;
    }
  }
  
  &.curve{
    &:after {
      content: "";
      width: 100%;
      display: block;
      height: 200px;
      z-index: 10;
      position: relative;
      background-image: url(../img/curve.svg);
      background-size: contain;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: right -5px bottom -1px;
      @media (min-width: 1200px) {
          margin-top: 60px;
      }
    }
  }
}